{% extends 'plantilla1.html'%}
{% block butom %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'appInfancia:nacionalidad_create' %} "
           class="btn btn-primary"><i class="bi bi-plus"></i> Nuevo</a>
    </div>
{% endblock butom %}

{% block thead %}
<tr>
    <th>Codigo</th>
    <th>Pais</th>
    <th>Nacionalidad</th>
    <th>Opciones</th>
</tr>
{% endblock thead %}

{% block tbody %}
{% for nacionali in object_list %}
<tr>
    <td>{{nacionali.idpais}}</td>
    <td>{{nacionali.Pais}}</td>
    <td>{{nacionali.nacionalidad}}</td>
    <td>
        <a type="button" class="btn btn-sm btn-outline-success"
           href="{% url 'appInfancia:nacionalidad_edit' nacionali.idpais %}">
            <i class="bi bi-pencil-square"></i>
        </a>
        <a type="button" class="btn btn-sm btn-outline-danger"
           href="{% url 'appInfancia:nacionalidad_delete' nacionali.idpais %}">
            <i class="bi bi-trash"></i>
        </a>

    </td>
</tr>


{% endfor %}


<!--Danger theme Modal -->
<div class="modal fade text-left" id="danger" role="dialog">

</div>

{% block js %}

{% endblock js %}

{% endblock tbody %}

