{% extends 'plantilla1.html'%}
{% block butom %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'appInfancia:gruposetnicos_create' %} "
           class="btn btn-primary"><i class="bi bi-plus"></i> Nuevo</a>
    </div>
{% endblock butom %}

{% block thead %}
<tr>
    <th>Id Grupo Etnico</th>
    <th>Nombre</th>
</tr>
{% endblock thead %}

{% block tbody %}
{% for gruposetnicos in object_list %}
<tr>
    <td>{{gruposetnicos.idgrupoetnico}}</td>
    <td>{{gruposetnicos.nombre}}</td>
    <td>
        <a type="button" class="btn btn-sm btn-outline-success"
           href="{% url 'appInfancia:gruposetnicos_edit' gruposetnicos.idgrupoetnico %}">
            <i class="bi bi-pencil-square"></i>
        </a>
        <a type="button" class="btn btn-sm btn-outline-danger"
           href="{% url 'appInfancia:gruposetnicos_delete' gruposetnicos.idgrupoetnico %}">
            <i class="bi bi-trash"></i>
        </a>

    </td>
</tr>


{% endfor %}


<!--Danger theme Modal -->
<div class="modal fade text-left" id="danger" role="dialog">

</div>

{% block js %}

{% endblock js %}

{% endblock tbody %}

