{% extends 'body.html'%}
{% block Content%}
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{title}}</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field in form %}
                                    {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <div class="row g-3">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.idtipoidentificacio.label}}</label>
                                        {{ form.idtipoidentificacio }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.no_documento.label}}</label>
                                        {{ form.no_documento }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.nombres.label}}</label>
                                        {{ form.nombres }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.apellidos.label}}</label>
                                        {{ form.apellidos }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{form.idsexo.label}}</label>
                                        {{ form.idsexo }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.fecha_nacimiento.label}}</label>
                                        {{ form.fecha_nacimiento }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.mun_codigodane.label}}</label>
                                        {{ form.mun_codigodane }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.idcentro_zonal.label}}</label>
                                        {{ form.idcentro_zonal }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.direccion.label}}</label>
                                        {{ form.direccion }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.telefono.label}}</label>
                                        {{ form.telefono }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.correo.label}}</label>
                                        {{ form.correo }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.idgrupoetnico.label}}</label>
                                        {{ form.idgrupoetnico }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>{{form.discapacidades.label}}</label>
                                        {{ form.discapacidades }}
                                    </div>
                                </div>
                                <div class="col-md-4 ">

                                    <div class="form-group">
                                        <label>{{form.nacionalidades.label}}</label>
                                        {{ form.nacionalidades }}
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                            <label>{{form.lenguas.label}}</label>
                                            {{ form.lenguas }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-group">
                                            <label>{{form.estado.label}}</label>
                                            {{ form.estado}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit"
                                            class="btn btn-primary me-1 mb-1">{{action}}
                                    </button>
                                    <a type="reset" class="btn btn-light-secondary me-1 mb-1"
                                       href="{% url 'appInfancia:persona_list' %} ">Cerrar
                                    </a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% block javascript %}
<script type="text/javascript">
      $(function () {
          $('#datetimepicker11').datetimepicker({
              daysOfWeekDisabled: [0, 6]
          });
      });
   </script>
{% endblock javascript %}
{% endblock Content%}