{% extends 'plantilla1.html'%}
{% block butom %}
<form method="post">{% csrf_token %}
<div class="col-12 d-flex justify-content-end">
    <button type="submit" onclick="Eliminar()"
            class="btn btn-primary me-1 mb-1">Eliminar
    </button>
    <a type="reset" class="btn btn-light-secondary me-1 mb-1"
       href="{% url 'appInfancia:seccion_list' %} ">Cerrar
    </a>
</div>
</form>
{% endblock butom %}

{% block thead %}
<tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Estado</th>
</tr>
{% endblock thead %}

{% block tbody %}
<tr>
    <td>{{object.idseccion}}</td>
    <td>{{ object.nombre_seccion}}</td>
    <td><span class="badge bg-success">{{object.get_estado_display}}</span></td>
</tr>
{% endblock tbody %}
{% block javascript %}

<script type="application/javascript">
     function Eliminar(){
        Swal.fire(
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        )
    }

</script>
{% endblock javascript %}


