{% extends 'body.html'%}
{% load static %}

<link rel="stylesheet" href="{% static 'assets/lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet"
      href="{% static 'assets/lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>

{% block Content%}

<section class="section">
    <div class="row" id="data">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{title}}</h4>
                    {% block butom %}

                    {% endblock butom %}
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-striped mb-0" id="tablalist">
                            <thead>
                            {% block thead %}

                            {% endblock thead %}
                            </thead>
                            <tbody>
                            {% block tbody %}

                            {% endblock tbody %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!--Danger theme Modal -->
<div class="modal fade text-left" id="danger" role="dialog">

</div>

{% endblock Content%}
 {% block alert %}
<div>
    {% if messages %}
    {% for message in messages %}
    {% block javascript %}

    <script type="application/javascript">
    $('#tablalist').DataTable(
    {
        "pagingType": "simple_numbers",
        "language": {
        "info": "Mostrando página  _PAGE_ de _PAGES_",
        },
    });
    function Nuevo(){
        Swal.fire(
          'Good job!',
          'You clicked the button!',
          'success'
        )
    }

    </script>
    {% endblock javascript %}
    {% endfor %}
    {% endif %}
</div>
 {% endblock alert %}
<!-- sweetalert2 -->
<script src="{% static 'assets/js/extensions/sweetalert2.js' %}"></script>
<!-- Include Choices JavaScript -->
<script src="{% static 'assets/vendors/choices.js/choices.min.js' %}"></script>

