{% extends 'body.html'%}
{% load static %}
   <link rel="stylesheet" href="{% static 'assets/lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
{% block Content%}

<section class="section">
    <div class="row" id="data">
        <div class="col-12">
            <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">{{title}}</h4>
                    {% block butom %}

                      {% endblock butom %}
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-striped mb-0" id="tablalist">
                            <thead>
                            {% block thead %}

                            {% endblock thead %}
                            </thead>
                            <tbody>
                            {% block tbody %}

                            {% endblock tbody %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock Content%}

{% block javascript %}

<script type="application/javascript">

$(function(){
    $('#tablalist').DataTable(
    {
        "pagingType": "simple_numbers",
        "language": {
        "info": "Mostrando página  _PAGE_ de _PAGES_", },

   });

} );

</script>

{% endblock javascript %}