{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{% static 'assets/images/logo/logo.png' %}" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Primera Infancia</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-map-marker-alt"></i>
                        <p>Localizacion
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:region_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Regiones</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:municipio_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Municipios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:centrozonal_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Centros Zonales</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Informacion Basica
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:nacionalidad_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nacionalidades</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:discapacidad_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Discapacidades</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:lengua_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lenguas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:gruposetnicos_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Grupo Etnicos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-people-arrows"></i>
                        <p>
                            Beneficiarios
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:persona_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Persona</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>Ficha
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:seccion_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Seccion</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:nacionalidad_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Preguntas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/boxed.html" class="nav-link">
                                <i class="nav-icon fas fa-baby"></i>
                                <p>Modulo 1 Niña y Niño</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/boxed.html" class="nav-link">
                                <i class="nav-icon fas fa-baby-carriage"></i>
                                <p>Modulo 2 Mujer Gestante</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/boxed.html" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Modulo 3 Familia</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hands-helping"></i>
                        <p>Proyectos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:region_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Proyecto</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:municipio_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Grupo Focal</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:centrozonal_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sub Direccion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:centrozonal_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Asignar Proyecto</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hospital-user"></i>
                        <p>ONG
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:region_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ONG</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:municipio_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>UDS</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>Usuarios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:region_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:municipio_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Perfiles</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'appInfancia:centrozonal_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Grupo de Usuarios</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-file-excel"></i>
                        <p>
                            Reportes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                </li>
            </ul>

        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-light">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->