{% extends 'plantilla1.html'%}
{% block card-body %}
<div class="col-sm-6">
    <div class="form-group">
        <label for="roundText">Codigo</label>
        <input type="text" id="roundText" class="form-control round"
               placeholder="Rounded Input">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label for="squareText">Nombre</label>
        <input type="text" id="squareText" class="form-control square"
               placeholder="Square Input">
    </div>
</div>
<div class="buttons col-12 d-flex justify-content-end">
    <a href="" class="btn btn-primary"><i class="bi bi-plus"></i> Nuevo</a>
    <a href="#" class="btn btn-light-secondary me-1 mb-1">Progress</a>
</div>
{% endblock card-body %}

{% block thead %}
<tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Opciones</th>
</tr>
{% endblock thead %}

{% block tbody %}
{% for region in object_list %}
<tr>
    <td>{{region.idregional}}</td>
    <td>{{region.nombre}}</td>
    <td>
        <button type="reset" class="btn btn-sm btn-outline-success">
            <i class="bi bi-pencil-square"></i>
        </button>
        <button type="reset" class="btn btn-sm btn-outline-danger">
            <i class="bi bi-trash"></i>
        </button>

    </td>
</tr>
{% endfor %}
{% endblock tbody %}