{% extends 'plantilla1.html'%}
{% block card-body %}

    <div class="col-sm-6">
        <div class="form-group">
            <label for="roundText">Codigo</label>
            <input type="text" id="roundText" class="form-control round" name="Codigo"
                   placeholder="Codigo">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="squareText">Nombre</label>
            <input type="text" id="squareText" class="form-control square" name="Nombre"
                   placeholder="Nombre">
        </div>
    </div>
    <div class="buttons col-12 d-flex justify-content-end">
        <a href="{% url 'appInfancia:municipio_create' %} "
           class="btn btn-primary"><i class="bi bi-plus"></i> Nuevo</a>
        <a href="{% url 'appInfancia:municipio_list' %} " class="btn btn-light-secondary me-1 mb-1">Buscar</a>
    </div>


{% endblock card-body %}

{% block thead %}
<tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Region</th>
    <th>Estado</th>
    <th>Opciones</th>
</tr>
{% endblock thead %}

{% block tbody %}
{% for municipio in object_list %}
<tr>
    <td>{{municipio.codigodane}}</td>
    <td>{{municipio.nombre}}</td>
    <td>{{municipio.Regional}}</td>
    <td><span class="badge bg-success">{{municipio.get_estado_display}}</span></td>
    <td>
        <a type="button" class="btn btn-sm btn-outline-success"
           href="{% url 'appInfancia:municipio_edit' municipio.codigodane %}">
            <i class="bi bi-pencil-square"></i>
        </a>
        <a type="button" class="btn btn-sm btn-outline-danger"
           href="{% url 'appInfancia:municipio_delete' municipio.codigodane %}">
            <i class="bi bi-trash"></i>
        </a>

    </td>
</tr>


{% endfor %}


<!--Danger theme Modal -->
<div class="modal fade text-left" id="danger" role="dialog">

</div>

{% block js %}

{% endblock js %}

{% endblock tbody %}

